$dt_base_font_size: 16px;
$tb_base_font_size: 16px;
$sp_base_font_size: 16px;

$dt_base_line_height: 1.2;
$tb_base_line_height: 1.2;
$sp_base_line_height: 1.2;

$dt_base_letter_spacing: 0.01em;
$tb_base_letter_spacing: 0.01em;
$sp_base_letter_spacing: 0.01em;

$dt_hero_title_font_size: 70px;
$tb_hero_title_font_size: 38px;
$sp_hero_title_font_size: 36px;

$dt_hero_title_line_height: 80px;
$tb_hero_title_line_height: 43px;
$sp_hero_title_line_height: 41px;

$dt_header1_font_size: 44px;
$tb_header1_font_size: 40px;
$sp_header1_font_size: 38px;

$dt_header1_line_height: 62px;
$tb_header1_line_height: 43px;
$sp_header1_line_height: 41px;

$dt_header2_font_size: 42px;
$tb_header2_font_size: 34px;
$sp_header2_font_size: 30px;

$dt_header2_line_height: 48px;
$tb_header2_line_height: 38px;
$sp_header2_line_height: 36px;

$dt_header3_font_size: 32px;
$tb_header3_font_size: 28px;
$sp_header3_font_size: 24px;

$dt_header3_line_height: 38px;
$tb_header3_line_height: 32px;
$sp_header3_line_height: 28px;

$dt_header4_font_size: 28px;
$tb_header4_font_size: 24px;
$sp_header4_font_size: 21px;

$dt_header4_line_height: 32px;
$tb_header4_line_height: 28px;
$sp_header4_line_height: 24px;
