$xs_bp: 468px;
$sp_bp: 768px;
$tb_bp: 992px;
$tb_bp_max: 991px;
$dt_bp: 1242px;
$xdt_bp: 1400px;
$tb_bp_prlist: 860px;

$container_sp_width: 100%;
$container_tb_width: 990px;
$container_dt_width: 1200px;
$container_xdt_width: 1280px;

$sp_indent: 20px;
$tb_indent: 20px;
$dt_indent: 20px;

$button-height: 52px;

$input-height: 52px;
$input-radius: 8px;
$input-font-size: 16px;

$sp_section_indent: 30px;
$tb_section_indent: 40px;
$dt_section_indent: 50px;

$sidebar_width: 330px;

$border_radius_big: 30px;
$border_radius: 20px;
$border_radius_small: 10px;
