@import 'src/static/assets/styles/resources';

.page404 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $light;
  text-align: center;
  font-weight: 400;

  @media (min-width: $sp_bp) {
    margin: 20px 0 70px;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 10px 0 30px;
  }
}
